{% extends "base.html" %}
{% block page_content %}

    {% for post in posts %}
<div class="col-md-8 offset-md-2" style="outline:none;border: solid 1px lightgrey;border-radius:10px;margin-top:20px">
    <h2><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ post.content | slice:":400" |safe}}...</p>
</div>
    {% endfor %}

{% endblock %}